@tailwind base;
@tailwind components;
@tailwind utilities;

/* Center Monaco editor keyboard button on mobile */
.monaco-editor .iPadShowKeyboard {
  left: 50% !important;
  right: auto !important;
  transform: translateX(-50%);
}